header {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
    text-align: center; /* Centraliza a imagem */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
}

header img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
}

main {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin-top: 20px; /* Espaçamento entre a imagem e o conteúdo */
}

.conteudo {
    text-align: center; /* Centraliza o conteúdo */
}
.quadrados {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centraliza os quadrados horizontalmente */
    margin-top: 20px; /* Espaçamento entre os quadrados e o conteúdo */
}

.quadrado {
    width: 100px; /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    margin: 0 10px; /* Espaçamento entre os quadrados */
}

.quadrado img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do quadrado */
    height: auto; /* Mantém a proporção original da imagem */
}